<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Une simple application avec NgRx</span>
      <span class="example-spacer"></span>
      <button routerLink="/admin" mat-icon-button class="example-icon">
        <mat-icon>person</mat-icon>
      </button>
      <button routerLink="/shop" mat-icon-button class="example-icon favorite-icon">
        <mat-icon>store</mat-icon>
      </button>
      <button routerLink="/basket" mat-icon-button class="example-icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>