<mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile *ngFor="let food of foods">
        <mat-card>
            <mat-card-header>
            <mat-card-title>{{food.name}}</mat-card-title>
            <mat-card-subtitle>{{food.price}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
            <button (click)="addToBasket(food)" mat-button>Ajouter au panier</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>